/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Exclamation {
            bindings = <&kp EXCL>;
            key-positions = <1 13>;
        };

        At {
            bindings = <&kp AT_SIGN>;
            key-positions = <2 14>;
        };

        Hashtag {
            bindings = <&kp HASH>;
            key-positions = <3 15>;
        };

        Dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <4 16>;
        };

        Percent {
            bindings = <&kp PERCENT>;
            key-positions = <5 17>;
        };

        Caret {
            bindings = <&kp CARET>;
            key-positions = <6 18>;
        };

        Amps {
            bindings = <&kp AMPS>;
            key-positions = <7 19>;
        };

        Astrk {
            bindings = <&kp ASTRK>;
            key-positions = <8 20>;
        };

        L_Parent {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <9 21>;
        };

        R_Parent {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <10 22>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 9>;
        };

        del {
            bindings = <&kp DELETE>;
            key-positions = <21 22>;
        };

        BT {
            bindings = <&mo 3>;
            key-positions = <38 37 36>;
        };

        caps {
            bindings = <&caps_word>;
            key-positions = <13 25>;
        };
    };

    behaviors {
        longPress: longPress {
            compatible = "zmk,behavior-hold-tap";
            label = "LONGPRESS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <350>;
            flavor = "tap-preferred";
        };

        HRShiftL: HRShiftL {
            compatible = "zmk,behavior-hold-tap";
            label = "HRSHIFTL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-key-positions = <6 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 41 40 39>;
            hold-trigger-on-release;
        };

        HRShiftR: HRShiftR {
            compatible = "zmk,behavior-hold-tap";
            label = "HRSHIFTR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 26 27 28 24 25 29 38 37 36>;
            hold-trigger-on-release;
        };

        HR_R: HR_R {
            compatible = "zmk,behavior-hold-tap";
            label = "HR_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 37 38 36>;
        };

        HR_L: HR_L {
            compatible = "zmk,behavior-hold-tap";
            label = "HR_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB     &kp Q              &kp W          &kp E             &kp R     &kp T        &kp Y      &kp U            &kp I      &kp O          &kp P                  &kp BSPC
&kp LSHIFT  &HRShiftL LSHFT A  &HR_L LCTRL S  &kp D             &kp F     &kp G        &kp H      &kp J            &kp K      &HR_R RCTRL L  &HRShiftR RSHIFT SEMI  &kp SQT
&kp LCTRL   &kp Z              &kp X          &kp C             &kp V     &kp B        &kp N      &kp M            &kp COMMA  &kp DOT        &kp FSLH               &kp ESC
                                              &mt LEFT_ALT TAB  &kp LGUI  &kp ENTER    &kp SPACE  &lt 1 BACKSPACE  &lt 2 ESC
            >;
        };

        num_arrows {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB  &kp N1         &kp N2            &kp N3    &kp N4  &kp N5       &kp N6           &kp N7          &kp N8    &kp N9         &kp N0     &kp BSPC
&trans   &trans         &trans            &trans    &trans  &trans       &kp C_VOLUME_UP  &kp PAGE_UP     &kp UP    &kp PAGE_DOWN  &kp SQT    &trans
&trans   &kp LESS_THAN  &kp GREATER_THAN  &trans    &trans  &trans       &kp C_VOL_DN     &kp LEFT_ARROW  &kp DOWN  &kp RIGHT      &kp GRAVE  &trans
                                          &kp LGUI  &trans  &kp SPACE    &kp RET          &trans          &kp RALT
            >;
        };

        func_symbol {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB  &kp F1     &kp F2   &kp F3  &kp F4  &kp F5    &kp F6     &kp F7     &kp F8    &kp F9    &kp F10   &kp BSPC
&trans   &kp F11    &kp F12  &trans  &trans  &trans    &kp MINUS  &kp PLUS   &kp LBKT  &kp RBKT  &kp BSLH  &kp GRAVE
&trans   &kp TILDE  &trans   &trans  &trans  &trans    &kp UNDER  &kp EQUAL  &kp LBRC  &kp RBRC  &kp PIPE  &kp TILDE
                             &trans  &trans  &trans    &trans     &trans     &trans
            >;
        };

        Sys_layer {
            bindings = <
&trans  &bt BT_CLR    &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };
    };
};
